
<div class="col-md-7">

  <input type="text" class="form-model" ng-model="searchText" placeholder="Search Movie Title!">
  <button type="submit" ng-click"searchCtrl.showSearch(movie)">Search</button>

</div>

<div class='col-md-7' ng-controller="MovieIndexController as indexCtrl">
<h3> <b>Movie Title:</b> {{indexCtrl.movie.Title}} </h3>
<img ng-src="{{indexCtrl.movie.Poster}}">
<ul>
  <li> Released: {{indexCtrl.movie.Released}}</li>
  <li> Genre: {{indexCtrl.movie.Genre}}</li>
  <li> Rated: {{indexCtrl.movie.Rated}}</li>
  <li> Director: {{indexCtrl.movie.Director}}</li>
  <li> Actors: {{indexCtrl.movie.Actors}}</li>
</ul>
<h3> IMDB Rating: {{indexCtrl.movie.imdbRating}}</h3>
 link: <a ng-href="http://www.omdbapi.com/?t={{indexCtrl.movie.Title}}&plot=short&r=json">{{indexCtrl.movie.Title}}</a>
</div>
